name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Create virtual environment with uv
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          uv pip install -e .[dev]
      - name: Run linter
        run: |
          source .venv/bin/activate
          uv run python -m ruff check
      - name: Run tests
        run: |
          source .venv/bin/activate
          uv run pytest
      - name: Generate coverage report
        run: |
          source .venv/bin/activate
          rm -f coverage.xml
          uv run pytest --cov=gendiff --cov-report=xml --cov-report=term
          ls -la coverage.xml
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=lytic11-web_python-project-50
            -Dsonar.organization=lytic11-web
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.sources=gendiff
            -Dsonar.tests=tests
